@page
@model ERP_System.Pages.SuperAdmin.AddFeatureModel
@{
}
<div style="margin:5rem;">
<form method="post">
    <div class="mb-3">
        <label>Feature Name:</label>
        <input type="text" class="form-control " asp-for="dynamicfeature.fea_name" />
    </div>
    <div class="mb-3">
        <label>Path:</label>
        <input type="text" class="form-control" asp-for="dynamicfeature.path" />
    </div>
    <div class="mb-3">
        <label>Plan Type:</label>
        <input type="text" class="form-control" asp-for="dynamicfeature.plan_type" />
    </div>
    <div class="mb-3">
        <label>Role:</label>
        <input type="text" class="form-control" asp-for="dynamicfeature.role" />
    </div>
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" asp-for="dynamicfeature.active" />
        <label class="form-check-label">Is Active</label>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>
