@model List<Data.Entity.Features>

<ul class="navbar-nav flex-grow-1">
    @foreach(var nav in Model)
    {
        <li class="nav-item">
            <a class="nav-link text-danger fw-bold " asp-area="" asp-page="@nav.path">@nav.fea_name</a>
        </li>
    }
   
    
 </ul>
